.analog-color {
    color: #B02769;
  }

.comp-color {
  color: #3BB027;
}

.comp-color-bg {
  background-color: #3BB027;
}

.comp-color-bg:hover {
  background-color: black;
}

img {
  max-width: 100%;
}