---
layout: default_no_container
---
<style>
    header{
        background: url('/assets/images/{{page.coverImage}}');
        background-size: cover;
        background-position: center;
        min-height: 430px;
    }
    @media screen and (max-width: 670px){
        header{
        min-height: 200px;
        }
    }
</style>
<header>
</header>
<div class="white">
    <div class="row container">
        <h2 class="header">{{page.full_title}}</h2>
        <h6>Posted on <b>{{ page.date | date_to_long_string }}</b></h6>
        <br/>
        <p class="grey-text text-darken-3 lighten-3">{{content}}</p>
    </div>
    <div class="row container">
        {% for tag in page.tags %}
        <div onclick="window.location='/tags.html#{{tag | slugify}}'" class="chip waves-effect waves-block waves-light">{{tag }}</div>
        {% endfor %}
    </div>
</div>

</html>